
<section class="page-section pricing bg-t100" id="pricing">
	<div class="container wow fadeIn">
		<br>
		<div class="text-center bg-inverse-t50">
			<h2>Please estimate the value of the property.</h2>
		</div>
		<br>
		
		<form class="form-group row" ng-submit="$ctrl.btnClick()">
			<div class="mx-auto" style="width: 60%;">
				<label class="sr-only" for="amount">Estimated Value</label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon">$</div>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="amount" required
					       ng-model="$ctrl.activeSlide.estimateValue.value"
					       placeholder="estimate from $60k to $2m+, use commas if you want">
				</div>
				<br>
				<div id="slider-estimate-value"></div>
				<br>
				<button type="submit" class="btn btn-success">Continue</button>
			</div>
		</form>
	</div>
</section>


<!--
 <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="value" required
					       ng-model="$ctrl.activeSlide.estimateValue.value"
					       placeholder="estimate from $60k to $2m+, use commas if you want">
 -->
