<section class="page-section pricing bg-t100" id="pricing">
	<div class="container wow fadeIn">
		<div class="text-center bg-inverse-t50">
			<h2>Have you had a bankruptcy or foreclosure in the last 7 years?</h2>
		</div>
		<div class="row">
			<!-- Button No -->
			<div class="col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1>
							<button ng-click="$ctrl.noClick()"><i class="fa fa-smile-o fa-4x"></i></button>
						</h1>
					</div>
					<hr class="colored">
					<h4>
						<a href="#" class="btn btn-secondary" ng-click="$ctrl.noClick()">
							<strong>No</strong>
						</a>
					</h4>
				</div>
			</div>
			
			<!-- Button Bankruptcy -->
			<div class="col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1 class="">
							<button ng-click="$ctrl.bankruptcyClick()"><i class="fa fa-legal fa-4x"></i></button>
						</h1>
					</div>
					<hr class="colored">
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.bankruptcyClick()">
						<strong>Bankruptcy</strong></a>
					</h4>
				</div>
			</div>
			
			<!-- Button Foreclosure -->
			<div class="col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1>
							<button ng-click="$ctrl.foreclosureClick()"><i class="fa fa-lock fa-4x"></i></button>
						</h1>
					</div>
					<hr class="colored">
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.foreclosureClick()">
						<strong>Foreclosure</strong></a></h4>
				</div>
			</div>
			
			<!-- Button Both -->
			<div class="col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1 class="">
							<button ng-click="$ctrl.bothClick()"><i class="fa fa-frown-o fa-4x"></i></button>
						</h1>
					</div>
					<hr class="colored">
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.bothClick()">
						<strong>Both</strong></a></h4>
				</div>
			</div>
		</div>
	</div>
</section>