<!-- "Want someone to contact you?" section -->
<div class="page-section pricing bg-t100" id="pricing">
	<div class="container wow fadeIn">
		
		<!-- inner facet 3a top -->
		<div class="text-center bg-inverse-t50">
			<h4 ng-if="!$ctrl.someoneContact" ng-hide="$ctrl.userClickedNo">
				Would you like a real person to call you to make all of this much easier by doing this calculating
				for you?</h4>
			<p ng-if="$ctrl.someoneContact">{{ $ctrl.someoneContact }}</p>
			<p ng-if="$ctrl.pmgError">{{ $ctrl.pmgError }}</p>
		</div>
		
		<!-- inner facet 3a bottom -->
		<div ng-if="$ctrl.realPerson" class="row">
			<!-- Button 1 -->
			<div class="col-md-4 offset-md-2">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1>
							<button ng-click="$ctrl.yesClick()"><i class="fa fa-check-circle fa-4x"></i>
							</button>
						</h1>
					</div>
					<hr class="colored">
					<h4>
						<a href="#" class="btn btn-secondary" ng-click="$ctrl.yesClick()"><strong>Yes</strong></a>
					</h4>
				</div>
			</div>
			<!-- Button 2 -->
			<div class="col-md-4">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1>
							<button ng-click="$ctrl.noClick()"><i class="fa fa-close fa-4x"></i></button>
						</h1>
					</div>
					<hr class="colored">
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.noClick()"><strong>No</strong></a>
					</h4>
				</div>
			</div>
		</div>
		<!-- inner facet 3b bottom -->
		<div ng-if="!$ctrl.realPerson && !$ctrl.someoneContact">
			<br>
			<!-- Form to collect email and number -->
			<form id="contact-form" class="form-inline" ng-submit="$ctrl.btnClick()">
				<div class="mx-auto" style="width: 60%;">
					<label class="sr-only" for="email">Email</label>
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon">@</div>
						<input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" required
						       ng-model="$ctrl.activeSlide.intro.email" placeholder="email">
					</div>
					<br>
					<label class="sr-only" for="number">Number</label>
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon">#</div>
						<input type="tel" class="form-control mb-2 mr-sm-2 mb-sm-0" id="number" required
						       ng-model="$ctrl.activeSlide.intro.phoneNumber" placeholder="Phone Number">
					</div>
					<br>
					<button type="submit" class="btn btn-success">Continue</button>
				</div>
			</form>
		</div>
		<!-- jQuery element for ajax response area -->
		<h1 id="ajax-response" class="bg-inverse-t50"></h1>
	</div>
</div>