/*
Julius Alvarado
www.julius3d.com
*/
img#pmg-logo-top-img {
  width: 175px;
  height: 100px; }

#pmg-calc {
  color: #434343;
  position: relative;
  overflow: hidden; }
  #pmg-calc .active, #pmg-calc .inactive {
    transition: left 0.5s ease-in; }
  #pmg-calc .active-top, #pmg-calc .inactive-top {
    transition: top 0.4s linear; }
  #pmg-calc .active {
    left: 0 !important; }
  #pmg-calc .active-top {
    top: 0 !important; }
  #pmg-calc .inactive.answered {
    left: -3200px; }
  #pmg-calc .pmg-slide {
    position: absolute;
    left: 1200px; }
  #pmg-calc #intro-slide {
    left: 0;
    top: -600px; }
  #pmg-calc #intro-slide.inactive-top.answered {
    top: -2000px; }
  #pmg-calc .btn.btn-sm.btn-info {
    cursor: crosshair; }
  #pmg-calc .badge-primary {
    background-color: #C2B49A; }
  #pmg-calc .pmg-form-width {
    width: 60%; }

@media screen and (max-width: 576px) {
  img#pmg-logo-top-img {
    width: 78px;
    height: 44px; }
  a.btn.btn-block.btn-full-width {
    padding: 8px; }
  #pmg-calc {
    width: 320px; }
    #pmg-calc h1, #pmg-calc h2, #pmg-calc h3, #pmg-calc h4, #pmg-calc h5, #pmg-calc h6 {
      font-size: 1rem; }
    #pmg-calc strong {
      font-weight: bold !important; }
    #pmg-calc input.form-control {
      font-size: 1.0rem; }
    #pmg-calc .btn {
      padding: .25rem 0.5rem !important;
      font-size: 0.75rem; }
    #pmg-calc .input-group-addon {
      height: 38px; }
    #pmg-calc .pmg-form-width {
      width: 100%; }
    #pmg-calc .pricing .pricing-item {
      padding: 8px;
      width: 150px;
      margin-left: auto;
      margin-right: auto; } }

.ui-draggable, .ui-droppable {
  background-position: top; }
