/*
Julius Alvarado
www.julius3d.com
*/
#pmg-calc {
  color: #434343;
  position: relative;
  overflow: hidden; }
  #pmg-calc .active, #pmg-calc .inactive {
    transition: left 0.5s ease-in; }
  #pmg-calc .active {
    left: 0 !important; }
  #pmg-calc .inactive.answered {
    left: -1200px; }
  #pmg-calc .pmg-slide {
    position: absolute;
    left: 1200px; }

.ui-draggable, .ui-droppable {
  background-position: top; }
