/*
Julius Alvarado
www.julius3d.com
*/

$jblack: #434343;

#pmg-calc {
	color: $jblack;
	position: relative;
	overflow: hidden;
	
	.active, .inactive {
		-webkit-transition: left 0.5s ease-in;
		-moz-transition: left 0.5s ease-in;
		-ms-transition: left 0.5s ease-in;
		-o-transition: left 0.5s ease-in;
		transition: left 0.5s ease-in;
	}
	
	.active {
		left: 0 !important;
	}
	
	.inactive.answered {
		left: -1200px;
	}
	
	.pmg-slide {
		position: absolute;
		left: 1200px;
	}
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

