/*
Julius Alvarado
www.julius3d.com
*/

$jblack: #434343;

img#pmg-logo-top-img {
	width: 175px;
	height: 100px;
}

#pmg-calc {
	color: $jblack;
	position: relative;
	overflow: hidden;
	
	.active, .inactive {
		-webkit-transition: left 0.5s ease-in;
		-moz-transition: left 0.5s ease-in;
		-o-transition: left 0.5s ease-in;
		transition: left 0.5s ease-in;
	}
	
	.active-top, .inactive-top {
		-webkit-transition: top 0.4s linear;
		-moz-transition: top 0.4s linear;
		-o-transition: top 0.4s linear;
		transition: top 0.4s linear;
	}
	
	.active {
		left: 0 !important;
	}
	
	.active-top {
		top: 0 !important;
	}
	// super make sure this goes off screen.
	.inactive.answered {
		left: -3200px;
	}
	
	.pmg-slide {
		position: absolute;
		left: 1200px;
	}
	
	#intro-slide {
		left: 0;
		top: -600px;
	}
	
	#intro-slide.inactive-top.answered {
		top: -2000px;
	}
	
	.btn.btn-sm.btn-info {
		cursor: crosshair;
	}
	
	.badge-primary {
		background-color: #C2B49A;
	}
	
	.pmg-form-width {
		width: 60%;
	}
}

@media screen and (max-width: 576px) {
	img#pmg-logo-top-img {
		width: 78px;
		height: 44px;
	}
	
	a.btn.btn-block.btn-full-width {
		padding: 8px;
	}
	
	#pmg-calc {
		width: 320px;
		
		h1, h2, h3, h4, h5, h6 {
			font-size: 1rem;
		}
		
		strong {
			font-weight: bold !important;
		}
		
		input.form-control {
			font-size: 1.0rem;
		}
		
		.btn {
			padding: .25rem 0.5rem !important;
			font-size: 0.75rem;
		}
		
		.col-sm-2 {
			width: 150px;
		}
		
		.input-group-addon {
			height: 38px;
		}
		
		.pmg-form-width {
			width: 100%;
		}
		
		.pricing .pricing-item {
			padding: 8px;
			width: 150px;
			margin-left: auto;
			margin-right: auto;
		}
		
		#pmg-rates-ready {
			width: 100%;
		}
	}
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

