<section class="page-section pricing bg-t100" id="pricing">
	<div class="container wow fadeIn">
		<div class="text-center bg-inverse-t50">
			<h2>Estimate your credit score.</h2>
		</div>
		
		<div class="row">
			<!-- Button Excellent -->
			<div class="col-xs-2 col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1>
							<span class="btn jbtn-grey" ng-click="$ctrl.excellentClick()">
								<i class="fa fa-smile-o fa-5x" style="color: #00CC00"></i></span>
						</h1>
					</div>
					<hr class="colored">
					<p>Greater than 720</p>
					<h4>
						<a href="#" class="btn btn-secondary" ng-click="$ctrl.excellentClick()">
							<strong>Excellent</strong>
						</a>
					</h4>
				</div>
			</div>
			
			<!-- Button Good -->
			<div class="col-xs-2 col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1 class="">
							<span class="btn jbtn-grey" ng-click="$ctrl.goodClick()">
								<i class="fa fa-smile-o fa-5x" style="color: green"></i></span>
						</h1>
					</div>
					<hr class="colored">
					<p>680 to 719</p>
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.goodClick()">
						<strong>Good</strong></a>
					</h4>
				</div>
			</div>
			
			<!-- Button Fair -->
			<div class="col-xs-2 col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1>
							<span class="btn jbtn-grey" ng-click="$ctrl.fairClick()">
								<i class="fa fa-meh-o fa-5x" style="color: #b7b700"></i></span>
						</h1>
					</div>
					<hr class="colored">
					<p>640 to 679</p>
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.fairClick()">
						<strong>Fair</strong></a></h4>
				</div>
			</div>
			
			<!-- Button Poor -->
			<div class="col-xs-2 col-sm-2 col-md-3">
				<div class="pricing-item featured-first">
					<div class="price">
						<h1 class="">
							<span class="btn jbtn-grey" ng-click="$ctrl.poorClick()">
								<i class="fa fa-frown-o fa-5x" style="color: indianred"></i></span>
						</h1>
					</div>
					<hr class="colored">
					<p>less than 639</p>
					<h4><a href="#" class="btn btn-secondary" ng-click="$ctrl.poorClick()">
						<strong>Poor</strong></a></h4>
				</div>
			</div>
		</div>
	</div>
</section>