<div class="container">
	<br>
	<div class="text-center">
		<!-- Get users' name, sales pitch intro -->
		<h2 ng-if="$ctrl.nameForm">Hi, what's your name?</h2>
		<form ng-if="$ctrl.nameForm" class="form-inline mx-auto" ng-submit="$ctrl.nameSubmit()">
			<div class="mx-auto" style="width: 60%;">
				<label class="sr-only" for="inlineFormInput">Name</label>
				<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"
				       ng-model="$ctrl.activeSlide.intro.username" placeholder="Your Name">
				<button type="submit" class="btn btn-lg btn-success">Enter</button>
			</div>
		</form>
		<h2 ng-if="!$ctrl.nameForm">Hello {{ $ctrl.activeSlide.intro.username }} <i class="fa fa-"></i></h2>
		<br>
		<h4>At Phoenix Mortgage We Understand That Purchasing A Home Can Be A Stressful Time. We Want To Help Get Rid Of
		    The Hassle, So You Can Enjoy The View.</h4>
		<hr class="colored">
		
		<div id="intro-popover">
			<button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="WHY WE ASK YOUR NAME"
			        data-container="#intro-popover" data-placement="bottom"
			        data-content="At Phoenix Mortgage we believe in providing you the superior streamlined service of a large corporation while maintaining the personalized, small town values based relationships that we would offer our family.">
				<strong>Why are we asking your name?</strong>
			</button>
		</div>
		<script type="text/javascript">
			(function($){
			    "use strict";

                $(function () {
                    $('[data-toggle="popover"]').popover()
                })
			}(jQuery));
		</script>
	</div>
	
	<!-- input forms begin -->
	<div class="row mt-4">
		<div class="col-lg-8 offset-lg-2">
			<form ng-submit="$ctrl.btnClick()">
				<!-- Type of property question -->
				<div class="form-group">
					<label for="propertyType" class="lead">Type of property</label>
					<select class="form-control" id="propertyType" ng-model="$ctrl.activeSlide.intro.propertyType">
						<option value="singleFamily">Single family home</option>
						<option value="town">Town Home</option>
						<option value="condo">Condo</option>
						<option value="multiFamilyDwelling">Multi Family Dwelling</option>
						<option value="mobile">Mobile/Manufactured home</option>
					</select>
				</div>
				<!-- Type of loan question -->
				<div class="form-group">
					<label for="loanType" class="lead">Type of loan?</label>
					<select class="form-control" id="loanType" ng-model="$ctrl.activeSlide.intro.loanType">
						<option value="refinance">Refinance</option>
						<option value="homePurchase">Home Purchase</option>
						<option value="homeEquityLoan">Home Equity Loan</option>
					</select>
				</div>
				
				<button type="submit" class="btn jbtn jbtn-primary">
					See Your Results
				</button>
			</form>
		</div>
	</div>
</div>



	