<section class="pricing bg-t100">
	<br>
	<div class="container wow fadeIn">
		<div class="text-center bg-inverse-t50">
			<h2>
				Great! {{ $ctrl.activeSlide.intro.username }}  YOUR RATES WILL BE READY IN A JIFFY AND A REPRESENTATIVE
				WILL BE IN TOUCH. NOW CLICK ON THE LINK BELOW AND ENJOY THE BEST FREE MORTGAGE CALCULATORS AVAILABLE.
			</h2>
		</div>
		<div class="row">
			<!-- Button 1 -->
			<div class="col-md-8 offset-md-2">
				<div class="pricing-item featured-first">
					<div class="price">
						<a href="" ng-click="$ctrl.btnClick()">
							<img src="img/logo-light.png" alt="logo" width="60%">
						</a>
					</div>
					<hr class="colored">
					<h4><a href="" class="btn btn-secondary" ng-click="$ctrl.btnClick()">
						<strong>Phoenix Mortgage Group</strong></a></h4>
				</div>
			</div>
		</div>
	</div>
</section>